<html>
<head>
  <title>Ayla's Blog Yay</title>
<style>
.page {width:100%; height:700px; float:left background-color:purple;}
.heading {width:100%; height: 100px; float:left;background-color:blue;}
.mcontent {width:100%; height:600px; float:left; background-color:yellow;}
.lcontent {width:20%; height:600px; float:left; background-color:green;}
.rcontent {width:80%; height:600px; float:right; background-color:red;}
</style>


</head>
<body>
<div class="page">
  <div class="heading">
<h1>My First Blog</h1>
  </div><!--eo heading-->
  <div class="mcontent">
      <div class="lcontent">
          <h2>Archive</h2>
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ul>
      </div><!--eo left container-->

      <div class="rcontent">
        <h2>My First Post</h2>
        <p>content of the first post</p>

      </div><!--eo right container-->
  </div>
</div><!--eo main containter>


  <h1></h1>



  <p>Boom second paragraph</p>
</body>
</html>
